@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=League+Spartan:wght@100..900&family=Oxygen:wght@300;400;700&family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss';

@theme {
  --font-main: 'Oxygen', 'sans-serif';
  --font-large: 'Urbanist', 'sans-serif';
  --font-medium: 'Quicksand', 'sans-serif';
  --font-navButtons: 'DM Sans', 'sans-serif';

  --breakpoint-3xl: 120rem;

  --color-primary: #353abd;
  --color-light: #d3d6dc;
  --color-dark: #3e3e3e;

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out;
  }
}
